<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<div class="container">
  <h1>AGENT DETAILS PAGE</h1>
  <h2></h2>
  
  <br /><br />
   <br /><br />
   <table class="table">
  
       {{#each data}}
            <tr>
                <td>{{this.agent_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.repro_no}}</td>
                <td><img src ={{this.picture}}></td>
                <td>{{this.role}}</td>
                <td>{{this.company}}</td>
                <td> <a href="/agent-details/{{this.agent_id}}" class="btn btn-info btn-sm">details</a></td>
            </tr>
        {{/each}}
 
  </table>

  
</div>