<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="container">
  <h1>SAVED SEARCH</h1>
  <h2>{{title}}</h2>
  <a href="/" class="btn btn-success">Home</a>
  <br /><br />
  <table class="table">
    
    {{#each data}}
      <tr>
      
        <td><img src ={{this.picture}}></td>
        <td>{{this.name}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.address}}</td>
        <td> <a href="" class="btn btn-info btn-sm">New message</a> </td>
        
      </tr>
    {{/each}}
  </table>
</div>