<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<p>{{name}}</p>
<p><a href="/tenant-home">Tenant Dashboard</a></p>
<p><a href="/landlord-home">Landlord Dashboard</a></p>
<p><a href="/agent-home">Agent Dashboard</a></p>
<p><a href="/log-out">log out</a></p>
<div class="container">
  <h1>HOMEPAGE</h1>
  <h2></h2>
  
  <br /><br />
   <br /><br />
  <table class="table">
  
      <tr>
        <td><img src = {{picture1}}></td>
        <td><img src = {{picture2}}></td>
        <td><img src = {{picture3}}></td>
      </tr>

   
 
  </table>

    <br /><br />
     <br /><br />
  <table class="table">
  
      <tr>
        <td>{{video}}</td>
      </tr>

   
 
  </table>

  <br /><br />
  <br /><br />

  <table class="table">
  
      <tr>
        <td>{{Rating1}}</td>
        <td>{{Comment1}}</td>
        <td>{{Name1}}</td>
      </tr>

      <tr>
        <td>{{Rating2}}</td>
        <td>{{Comment2}}</td>
        <td>{{Name2}}</td>
      </tr>

      <tr>
        <td>{{Rating3}}</td>
        <td>{{Comment3}}</td>
        <td>{{Name3}}</td>
      </tr>

 
  </table>

<br /><br />
  <br /><br />

  <table class="table">

      <tr>
        <td>{{NameofAgent1}}</td>
        <td>{{ReproNo1}}</td>
        <td>{{AgentRole1}}</td>
        <td><img src = {{AgentPictureUrl1}} width = '100px'></td>
      </tr>

      <tr>
        <td>{{NameofAgent2}}</td>
        <td>{{ReproNo2}}</td>
        <td>{{AgentRole2}}</td>
        <td><img src = {{AgentPictureUrl2}} width = '100px'></td>
      </tr>

      <tr>
        <td>{{NameofAgent3}}</td>
        <td>{{ReproNo3}}</td>
        <td>{{AgentRole3}}</td>
        <td><img src = {{AgentPictureUrl3}} width = '100px'></td>
      </tr>

 
  </table>
  <p><a href="/agent-page">Agent Page</a></p>
  <p></p>

</div>