



<strong>
        <br/>
 <p>{{name}},</p>
  <br/>
     <br/>
     <p>This is to Confirm that your payment was successful. Please check the payment details below</p>
     <br/>
     <br/>
     <br/>
     <br/>
    
     <table class="table">
  
            <tr>
                <td>Customer Name</td>
                 <td></td>
                <td>{{fullname}}</td>
                
            </tr>

            <tr>
                <td>Payment Id</td>
                 <td></td>
                <td>{{payment_id}}</td>
            </tr>

            <tr>
                <td>Refundable Deposit</td>
                 <td></td>
                <td>{{security_deposit}}</td>
            </tr>

            <tr>
                <td>Amount Paid</td>
                 <td></td>
                <td>{{amount}}</td>
            </tr>

            <tr>
                <td>Check In Date</td>
                 <td></td>
                <td>{{check_in_date}}</td>
            </tr>

            <tr>
                <td>Check Out Date</td>
                 <td></td>
                <td>{{check_out_date}}</td>
            </tr>


        
    </table>
           
  

