


<html>
<head>
    <title> test </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<p>Thank you your payment was successful. We have sent your payment receipt</p>
<p>to {{email}} and you can download it here</p>
<br/>
<p>PAYMENT DETAILS</p>
<br/>
<p>Payment ID: {{payment_ref_id}}</p>
<p>Property Price    {{property_amount}}</p>
<p>Charges     {{total_charges}}</p>
<p>Total   {{total_amount_paid}}</p>
<br/>
 <a href="/" class="btn btn-info btn-sm">Make another donation</a>  
                      

                       
