<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<p>{{name}}</p>
<a href="/" class="btn btn-success">Home</a>
<p><a href="/tenant-home">Tenant Home</a></p>
<p><a href="/favorites">Favourites</a></p>
<p><a href="/search-filter">Search Listings</a></p>
<p><a href="/get-maintainance">Maintainance</a></p>
<p><a href="/get-save-search">Saved Search</a></p>
<p><a href="/get-message">Message</a></p>
<p><a href="/get-landlord">My Landlord</a></p>
<p><a href="/tenant-account-profile">Account Profile</a></p>
<p><a href="/get-tenant-payments">Tenant Payments</a></p>
<p><a href="/log-out">log out</a></p>
<div class="container">
  <h1>TENANT HOMEPAGE</h1>
  <h2></h2>
  
  <br /><br />
   <br /><br />
   <table class="table">
  
       {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td><img src ={{this.picture}}></td>
                <td>{{this.town}}</td>
                <td>{{this.street}}</td>
                <td>{{this.bed}}</td>
                <td>{{this.bath}}</td>
                <td> <a href="/favorited/{{this.id}}" class="btn btn-info btn-sm">like</a></td>
                <td> <a href="/view-property/{{this.id}}" class="btn btn-info btn-sm">view</a></td>
            </tr>
        {{/each}}
 
  </table>

  
</div>